.connect-wallet__stats-container {
  position: relative;
}

.connect-wallet__container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.connect-wallet__stats {
  text-align: end;
}

.connect-wallet__stats p {
  font-size: 1rem;
}

.connect-wallet__stats-address {
  width: max-content;
}

.connect-wallet__button:not(:last-child) {
  width: auto;
  align-self: end;
  margin-bottom: 1rem;
}
